.account-item {
  max-height: 370px;
  height: 370px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  background-color: #e8e8e8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}

.operation-item {
  max-height: 370px;
  height: 370px;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #e8e8e8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}

.operation-item__title {
  font-size: 24px;
  color: #e3000f;
  font-weight: 500;
}

/*.account-item__title:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*/ / suit your need background: black;*/
/*/ / suit your need top: 100 %;*/
/*    left: 0;*/
/*}*/

/*.divider {*/
/*    width: 1px;*/
/*    position: absolute;*/
/*    height: 40%;*/
/*    background: grey;*/
/*    top: 30%;*/
/*}*/