@import "src/assets/css/_variables.scss";

.header {
  padding: 90px 0 40px;
}

.logo {
  width: 97px;
  height: 97px;
  background-color: $primary-color;
  margin: auto;
}

.app-name {
  color: $primary-color;
}

.menu {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, rgb(203, 203, 203) 0%, rgb(231, 231, 231) 100%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), inset 0 1px 0 0 rgba(255, 255, 255, 0.004);
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu__item {
  padding: 10px 30px;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.35) 48%, rgba(255, 255, 255, 0) 80%);
  border-image-slice: 1;

  &:first-child {
    border: 0;
    background: radial-gradient(ellipse at top, #efefef, transparent 0),
    radial-gradient(ellipse at bottom, white, transparent 70%);
  }
}

.menu__item a {
  font-size: 13px;
  color: #4c4c4c;
}

@media (max-width: 1200px) {
  .app-name {
    text-align: center;
  }
}
